<%- include("header"); -%>

<%if (isAuthenticated) { %>

<main class="content">
  <div class="main__home">
    <form action="" method="POST">
      <div>
        <label for="content"></label>
        <textarea
          id="content"
          type="text"
          name="content"
          placeholder="What's On Your Mind?"
          required
          cols="30"
          rows="10"
        ></textarea>
      </div>
      <div>
        <label for="author"></label>
        <input
          id="author"
          type="text"
          name="author"
          value="<%= user.username %>"
          hidden
        />
      </div>
      <button type="submit">Post</button>
    </form>
  <div class="content__status">
    <p> <%= author %> </p>
    <p> <%= recent_status[0].content %> </p>
  </div>

  <% } else { %>
    <%- include("redirect"); -%>    
  <% } %>
</main>

<%- include("footer"); -%>
