<%- include("header"); -%> <%- include("sidenav"); -%>
<div class="content">
  <div class="banner"></div>
  <div class="follow">
    <form action="/requests" method="POST">
      <input type="hidden" name="receiver" value="<%= receiverUserId %>" />
      <button type="submit">Send Friend Request</button>
    </form>
  </div>
  <div class="friends">
    <a href="/<%= user %>/friends">See all friends</a>
  </div>
  <% status_list.forEach(function(status) { %> <% const options = { month:
  'short', day: 'numeric' }; %> <% if (status.author === path) { %>
  <div class="status">
    <div class="status-img">
      <img
        class="avatar"
        src="/images/uploads/profilePicture-<%= status.author %>.png"
        alt="logo"
      />
    </div>
    <div class="container">
      <p class="status__name">
        <%= status.author %>
        <span>@<%= status.author %> </span> · <%=
        status.createdAt.toLocaleDateString("en-US", options) %>
      </p>
      <p><%= status.content %></p>
    </div>
  </div>
  <% } %> <% }); %>
</div>
<%- include("footer"); -%>
