<%- include("header"); -%> <%- include("sidenav"); -%>
<div class="content">
  <div class="banner"></div>
  <div class="follow">
    <form action="/friend-requests" method="POST">
      <input type="hidden" name="sender" value="<%= id %>" />
      <input type="hidden" name="receiver" value="<%= receiverUserId %>" />
      <button type="submit">Send Friend Request</button>
    </form>
  </div>
  <div>
    <p>hi</p>
    <p><%= user.username %></p>
    <p><%= user.id %></p>
  </div>

  <% status_list.forEach(function(status) { %> <% const options = { month:
  'short', day: 'numeric' }; %> <% if (status.author === path) { %>
  <div class="status">
    <p class="status__name">
      <%= status.author %> <span>@<%= status.author %> </span> · <%=
      status.createdAt.toLocaleDateString("en-US", options) %>
    </p>
    <p><%= status.content %></p>
    <p><%= status.author %></p>
    <button class="like-btn">♡</button>
  </div>
  <% } %> <% }); %>
</div>
<%- include("footer"); -%>
